<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Baba Perceptions Survey</title>
    <link href="css/screen.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    <h1>Question...</h1>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <div>
      <img src="images/baba.jpg" title="Baba" alt="This is a baba." />
    </div>
    
    <div>
      <form action="/submit" method="POST">
      
        <h3>What do you think this baba is doing?</h3>
        <input type="text" name="input" value="The baba is..."/>
        
        <!--<div>
          <label for="answer">Researching Taxidermy</label>
          <input type="radio" name="answer" value="Researching Taxidermy"/>
        <div>
        
        <div>
          <label for="answer">Hacking the Pentagon mainframe</label>
          <input type="radio" name="answer" value="Hacking the Pentagon mainframe" />
        </div>
        
        <div>
          <label for="answer">Checking futures prices of harbuz murat</label>
          <input type="radio" name="answer" value="Checking futures prices of harbuz murat" />
        </div>

        <div> 
          <label for="answer"> Skyping with expat Moldovans</label>
          <input type="radio" name="answer" value="Skyping"/>
        </div>-->


        
        <div>
          <label for="tc">
            I, <input type="text" name="user" value="First Name, Last Name" />, certify  that I am sane and capable of making this 
            decision.

          <label>
          <input type="checkbox" name="tc" value="1" />
        </div>
        
        <div>
          <input type="submit" name="submit" value="Submit" />
        </div>
      
      </form>
    </div>
    
  </body>

</html>